<!-- <br /><br /><br />
<div class="container">
  <app-autocomplete
    [searchingForPokemon]="searchingForPokemon"
    (setSearchItemEvent)="setPokemonName($event)"
  ></app-autocomplete>
  <p>Filtering Options:</p>
  <div class="row row-cols-3 row-cols-md-3 g-1">
  </div>
</div>
<br /><br />
<div class="container">
  <pokemon-list
    [pokemon_list]="pokemonList"
    [addPokemonToDeck]="addToDeck"
    [removePokemonFromDeck]="removeFromDeck"
    [numberOfColumns]="numberOfColumns"
  ></pokemon-list>
  <mat-paginator
    [length]="count"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="itemsPerPage"
    (page)="onPageChange($event)"
    style="--mat-paginator-container-background-color: none"
  ></mat-paginator>
</div> -->
