<!-- <div *ngIf="uploading" class="progress">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    aria-valuenow="100"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: 100%"
  ></div>
</div> -->
<button
  type="button"
  class="nav-link navbar-btn"
  data-bs-toggle="modal"
  data-bs-target="#uploadModal"
>
  Post
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="uploadModal"
  tabindex="-1"
  aria-labelledby="uploadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadModalLabel">Share Your Image</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          #closebutton
        ></button>
      </div>
      <div class="modal-body">
        <!-- Your form content here -->
        <form [formGroup]="imageForm" (ngSubmit)="onSubmit()">
          <div class="mb-4">
            <label for="imageUpload" class="form-label text-primary"
              >Select Image:</label
            >
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="imageUpload"
                name="imageUpload"
                formControlName="File"
                (change)="previewImage($event)"
              />
            </div>
            <div class="mt-3 img-preview-container">
              <img
                *ngIf="previewUrl"
                [src]="previewUrl"
                alt="Preview"
                class="img-fluid img-preview rounded shadow"
              />
            </div>
          </div>
          <div class="mb-4">
            <label for="caption" class="form-label text-primary"
              >Caption:</label
            >
            <textarea
              class="form-control"
              id="caption"
              name="caption"
              formControlName="caption"
              rows="3"
              placeholder="Add a caption..."
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="imageForm.invalid"
          >
            Upload Image
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
