<div class="pokemon-login-card">
  <h4 class="pokemon-login-header">
    {{ translate ? translatedContentFr.login : "Login" }}
  </h4>
  <div class="pokemon-login-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">{{
          translate ? translatedContentFr.username : "Username"
        }}</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">
            {{
              translate
                ? translatedContentFr.usernameRequired
                : "Username is required"
            }}
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">{{
          translate ? translatedContentFr.password : "Password"
        }}</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            {{
              translate
                ? translatedContentFr.passwordRequired
                : "Password is required"
            }}
          </div>
        </div>
      </div>
      <div>
        <button [disabled]="loading" class="btn btn-primary">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          {{ translate ? translatedContentFr.login : "Login" }}
        </button>
        <a routerLink="../register" class="btn btn-link">
          {{ translate ? translatedContentFr.register : "Register" }}</a
        >
      </div>
    </form>
  </div>
</div>
