.pokedex-background {
  /* background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/volcano.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.pokemon-title {
  font-size: 6rem;
  color: #ffcc00;
}

.username {
  color: #ffcc00;
}

.pokemon-text {
  font-size: 4rem;
  color: #000000; /* Change the text color for better visibility */
  margin-bottom: 30px;
}

.info-heading {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 20px;
}

.info-list {
  color: #ffffff; /* Adjust color for list items */
  text-align: center; /* Center-align the text */
  margin-left: 0; /* Remove default left margin */
  padding-left: 0; /* Remove padding */
  justify-content: center;
  font-size: 2rem;
}

.info-list li {
  list-style-type: disc; /* Set bullet style */
  display: block; /* Ensure each item appears on a new line */
  margin-bottom: 10px; /* Add space between list items */
  /* text-align: left; Reset text alignment for list items */
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px; /* Adjust the margin top for separation */
}

.btn-primary,
.btn-secondary {
  background-color: #ff4400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-secondary {
  background-color: #ffcc00;
  color: #000;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #ff8800;
}
