body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  padding-top: 50px;
  text-align: center;
}

.header-text {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.intro-text {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #666;
}

.btn-post {
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.btn-post:hover {
  background-color: #ff4500;
}

.finsta-image {
  display: block;
  margin: 0 auto;
  max-width: 70%; /* Adjust as needed */
  max-height: 70%;
  margin-top: 20px;
}
