<div class="pokedex-background">
  <post-image></post-image>
  <div class="p-4">
    <div class="container">
      <h2 class="text-center">Images</h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let post of user_posts">
          <div class="col">
            <div class="card h-100 shadow">
              <img [src]="getImageUrl(post)" class="card-img-top" alt="Image" />
              <div class="card-body">
                <h5 class="card-title">
                  {{ capitaliseText(post.username) }}'s Post
                </h5>
                <p class="card-text">{{ post.caption }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">{{
                  post.date | date : "medium"
                }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
